html {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-family: "Martian Mono", monospace;
}
body{
  padding: 0;
  margin: 0;
  color: black;
}
:root {
  --primary-green: #05eb84;
  --primary-yellow: #fbc24b;
  --primary-pink: #fb6998;
  --primary-blue: #0da7fc;
}
.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 100dvh;
  width: 100%;
}
#menu-container {
  text-align: center;
  height: 100%;
  width: calc(20% - 20px);
  padding:0 20px;
  background-color: #4244e3;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  overflow-y: visible;
}
#maze-container {
  text-align: center;
  height: 100%;
  width: 100%;
  padding:20px 0px;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
#problem-container{
  color: black;
  min-height: 50vh; /* min-height: 40vh */
  display:flex;
  justify-content: center;
  align-items: center;
}
.buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 20px 0;
}

button {
  box-sizing: border-box;
  padding: 6px 2rem;
  background-color: #8E8FFA;
  border: none;
  color: white;
  font-size: 1.26rem; /* font-size: 1.5rem */
  font-weight: 600;
  cursor: pointer;
  outline: none;
}
.common-btn {
  display: inline-block;
  padding: 6px 1rem;
  background-color: #8E8FFA;
  color: white;
  text-decoration: none;
  font-size: 1.26rem;
  font-weight: 600;
  cursor: pointer;
  box-sizing: border-box;
  border: none;
  margin: 0;
  border-radius: none;
  outline: none;
  transition: background-color 0.3s ease;
  text-align: center;
  width: 100%;
}
.common-btn:hover {
  background-color: #6b6cd3;
}
#solution-container{
  color: black;
  padding: 10px, 0;
  border-top: 2px solid #c4c4c4; 
  border-bottom: 2px solid #c4c4c4; 
  width: 100%;
  min-height: 10px;
  display: flex;
  flex-direction: row;
}

#level{
  color: #4244e3;
}
#maze{
  width: 100%;
  
}
.mazeRow {
  display: flex;
  flex-direction: row;
}
.mazeCell {
  width: 40px;
  height: 40px;
  border: 1px solid black; 
  margin: 0.5px
}

.empty {
  background-color: white;
  border:none;
}

.yellow {
  background-color: var(--primary-yellow);
}

.pink {
  background-color: var(--primary-pink);
}

.green {
  background-color:var(--primary-green);
}
#clear-btn{
  background-color: #4244e3;
}

.blue {
  background-color: var(--primary-blue);
}

.start_green {
  background-color: var(--primary-green);
  color: white;
  font-weight: bold;
}

.end_green {
  background-color: var(--primary-green);
  color: white;
  font-weight: bold;
}

.start_blue {
  background-color: var(--primary-blue);
  color: white;
  font-weight: bold;
}

.end_blue {
  background-color: var(--primary-blue);
  color: white;
  font-weight: bold;
}

#pointer{
  background-image: url("./public/up-arrow.png");
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  z-index: 10;
  background-position: center;
}

.goal{
  background-image: url("./public/end.png");
  background-repeat: no-repeat;
  z-index: 10;
  background-position: center;
}

#command-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap:5px;
  padding: 10px 0;
}
.commands{
  display: flex;
  flex-direction: row;
  gap:3px;
}
.command{
  width: 50px;
  height: 50px;
  border: 1px solid black; 
  margin: 0.5px;
  color:black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.8rem;
}
#blue-command{
  background-color: var(--primary-blue);
}
#green-command{
  background-color: var(--primary-green);
}
#pink-command{
  background-color: var(--primary-pink);
}
#yellow-command{
  background-color: var(--primary-yellow);
}
#function-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap:5px;
  padding: 10px 0;
}
.functions{
  display: flex;
  flex-direction: row;
}
.function-slot{
  width: 50px;
  height: 50px;
  border: 1px solid black; 
  margin: 0.5px;
  color:black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.disabled-function-slot{
  width: 50px;
  height: 50px;
  border: 1px solid black; 
  margin: 0.5px;
  color:black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.function-slot .function-slot-value{
  width: 50px;
  height: 50px;
  margin: 0.5px;
  color:black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#button-container{
  padding: 10px 0;;
}
.selected{
  border: 3px solid #4244e3;
}
.err-msg{
  background-color: #ecc8c5; 
  color: #bc403f;
  padding: 8px 20px;
}
.success-msg{
  position: absolute;
  height: 150%;
  width: 100%;
  z-index: 100;
  background-color: #def2d6; 
  color: #697f61;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.success-button {
  box-sizing: border-box;
  padding: 6px 2rem;
  background-color: #697f61; 
  color: #def2d6;
  border: none;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  outline: none;
}
.end-msg{
  position: absolute;
  height: 130%;
  width: 100%;
  z-index: 100;
  background-color: #FFF0CE; 
  color: #FFC436;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.end-button {
  box-sizing: border-box;
  padding: 6px 2rem;
  background-color: #FFC436; 
  color: #FFF0CE;
  border: none;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  outline: none;
}
*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
  background-color: #fff;
}
.popup{
  background-color: #ffffff;
  width: 450px;
  padding: 30px 40px;
  position: fixed;
  top: 50%;
  left: 60%; 
  transform: translate(-50%, -50%);
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  display: none;
  text-align: center;
  z-index: 100; /* Ensure the popup is above other elements */
  box-sizing: border-box;
  overflow: auto;
  max-height: 80%; /* Limit the maximum height */
  margin: 0;
  border: 2px solid black;
}
.popup button{
    display: block;
    margin:  0 0 20px auto;
    background-color: transparent;
    font-size: 30px;
    color: black;
    border: none;
    outline: none;
    cursor: pointer;
}
.popup p{
    font-size: 14px;
    text-align: justify;
    margin: 20px 0;
    line-height: 25px;
}
a{
    display: block;
    width: 150px;
    position: relative;
    margin: 10px auto;
    text-align: center;
    background-color: #0f72e5;
    color: #ffffff;
    text-decoration: none;
    padding: 5px 0;
}
.timer-box {
  position: fixed;
  top: 20px;
  right: 20px;
  text-align: center;
  font-size: 1.2rem; /* Adjust the font size as needed */
  padding: 10px; /* Adjust the padding as needed */
  background-color: #ffffff; /* White background */
  color: #000000; /* Black text color */
  border: 1px solid #000000; /* Black border */
  border-radius: 5px;
}
/* Add this style to push the content below the timer-box down */
